---
BasedOnStyle: Google
IndentWidth: 4
ContinuationIndentWidth: 8
---
Language: Cpp

DerivePointerAlignment: false
PointerAlignment: Left

AlignAfterOpenBracket: false

AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
